body {
  background-color: peachpuff;
}
.menu {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
  margin-bottom: 20px;
  justify-items: center;
}
.score-table {
  display: grid;
  grid-template-columns: 300px 300px;
  justify-items: center;
}

.start-button {
}
.display {
  color: #2a8d89;
  font-size: 28px;
}
.wrapper {
  display: grid;
  grid-template-columns: 600px;
  grid-template-rows: 1fr;
  justify-content: center;
}
.game-board {
  border: 1px brown solid;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.square {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px black solid;
  height: 200px;
  box-sizing: border-box;
}
