body {
  background-color: peachpuff;
}
.wrapper {
  display: grid;
  grid-template-columns: 600px;
  grid-template-rows: 1fr;
  justify-content: center;
}
.game-board {
  border: 1px brown solid;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.square {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px black solid;
  height: 200px;
  box-sizing: border-box;
}
